/* pentru mobil */
@media (max-width: 576px) {
    h1 {
        color: red;
    }

    .mob {
        display: block;
    }

    div:not(.mob) {
        display: none;
    }

}

/* pentru tableta */
@media (min-width: 577px) AND (max-width:768px) {
    h1 {
        color: blue;
    }

    .tab {
        display: block;
    }

    div:not(.tab) {
        display: none;
    }
}

/* pentru laptop */
@media (min-width: 769px) AND (max-width:1200px) {
    h1 {
        color: green;
    }

    .lap {
        display: block;
    }

    div:not(.lap) {
        display: none;
    }
}

/* pentru restu, desktop */
@media (min-width: 1201px) {
    h1 {
        color: aqua;
    }

    .des {
        display: block;
    }

    div:not(.des) {
        display: none;
    }

}