h2{
    /* border-bottom: 3px solid rgb(37, 70, 220); */
    text-decoration: underline;
    text-decoration-color: aqua;
    padding-bottom: 20px;
}
button{
    padding: 20px 30px !important;
    background-color: rgb(18, 145, 230) !important;
}
input[type='text'], input[type='email'], input[type='password']{
    padding: 25px;
}